# This file contains pin mappings for Prusa i3 MK3S+ printers. To use
# this config, the firmware should be compiled for the AVR atmega2560.

# See docs/Config_Reference.md for a description of parameters.

#############################################################################################################
### CONTROL BOARD
### Pick the board you have installed and wired in your printer.
#############################################################################################################
[include RatOS/boards/prusa-einsy/config.cfg]

### RPI Mcu (Necessary for dual sensor input shaping)
#[include RatOS/boards/rpi/config.cfg]

#############################################################################################################
### BASE SETUP
#############################################################################################################
[include RatOS/printers/prusa-mk3s/prusa-mk3s.cfg]

#############################################################################################################
### STEPPER MOTORS, DRIVERS & SPEED LIMITS
### Pick the drivers and stepper motors you're using. See the RatOS documentation for custom combinations.
#############################################################################################################
[include RatOS/printers/prusa-mk3s/steppers.cfg]

# UNCOOLED TMC 2130 + LDO-42STH40-1684AC
# It is recommended that you enable these settings until you have verified that your printer moves as expected
[include RatOS/printers/prusa-mk3s/speed-limits-basic.cfg]
[include RatOS/steppers/ldo/42sth40-1684ac/2130/24v-0.4a-x.cfg]
[include RatOS/steppers/ldo/42sth40-1684ac/2130/24v-0.4a-y.cfg]
[include RatOS/steppers/ldo/42sth40-1684ac/2130/24v-0.4a-z.cfg]
[include RatOS/printers/prusa-mk3s/tmc2130.cfg]

# STEALTH MODE
# NOTE: You still need to include one of the above stepper motor definitions.
# NOTE: This will make your printer quiter but less accurate, it's an inherent side effect of stealthchop.
#[include RatOS/printers/prusa-mk3s/tmc2130-stealth.cfg]

#############################################################################################################
### HOMING
### Pick your probe and endstops
#############################################################################################################
# Inductive/Capacitive probe
[include RatOS/z-probe/superpinda.cfg]

# Physical endstops
# Sensorless homing (Beware: this requires manual tinkering and does not work if your x/y stepper drivers
# have clipped DIAG pins). It is strongly encouraged to use physical endstops if you're a beginner.
# If you still wish to proceed, copy RatOS/templates/sensorless-homing.cfg to the root directory and 
# remove the # from the line below.
[include RatOS/printers/prusa-mk3s/sensorless-homing-tmc2130.cfg]
[include RatOS/homing.cfg]

#############################################################################################################
### INPUT SHAPER
### Enable/disable input shaper calibration
#############################################################################################################
# Uncomment the following line to use a single ADXL345 that you manually move between
# the X and Y axis. (Use SHAPER_CALIBRATE AXIS=X and SHAPER_CALIBRATE AXIS=Y respectively).
# The ADXL345 should be connected to your Raspberry Pi. See the wiring instructions here:
# https://www.klipper3d.org/Measuring_Resonances.html
# NOTE: You ONLY need to wire the ADXL345, everything else is already done for you.
#[include RatOS/printers/prusa-mini/input-shaper-single.cfg]

# Alternatively check https://www.klipper3d.org/Resonance_Compensation.html for manual input shaper calibration.

# Include this quirks file if you're using the Prusa Buddy board
#[include RatOS/boards/prusa-mk3s/multi-alias-usage-quirk.cfg]

#############################################################################################################
### TOOLHEAD
### Pick your extruder and hotend
#############################################################################################################
# Extruder
[include RatOS/extruders/mk3s.cfg]

# Hotend
[include RatOS/hotends/v6.cfg]

#############################################################################################################
### LCD
### Pick your LCD configuration
#############################################################################################################
[include RatOS/printers/prusa-mk3s/display.cfg]

#############################################################################################################
### FILAMENT SENSOR
### Pick your filament sensor configuration
#############################################################################################################
[include RatOS/sensors/prusa-mk3s-filament-switch.cfg]

#############################################################################################################
### FANS
### Pick your fan configuration
#############################################################################################################
[include RatOS/4pin-fans/toolhead-fan-100hz.cfg]
[include RatOS/4pin-fans/part-cooling-fan-100hz.cfg]

#############################################################################################################
### MACROS
#############################################################################################################
[include RatOS/macros.cfg]
[include RatOS/shell-macros.cfg]
[include RatOS/printers/prusa-mk3s/macros.cfg]
[include macros-CM3D.cfg]

#############################################################################################################
### MACRO CONFIGURATION
### Configure the behavior of RatOS macros
#############################################################################################################
[gcode_macro RatOS]
# Use absolute extrusion mode
# Set to True to use relative extrusion mode
variable_relative_extrusion: True
# Wait for extruder to reach 150 so an inductive probe (if present) is at a predictable temp. 
# Also allows the bed heat to spread a little, and softens any plastic that might be stuck to the nozzle.
# Set to False to disable
variable_preheat_extruder: True
# Calibrate the bed mesh in the START_PRINT macro.
# Set to false to skip BED_MESH_CALIBRATE, it will still load the BED_MESH 
# with the name "ratos", be sure to save your bed_mesh profile with that name.
# or override the _START_PRINT_BED_MESH macro to implement your own mesh handling logic.
variable_calibrate_bed_mesh: True
# Print a prime line at the end of the START_PRINT macro
# set to False to disable nozzle_priming.
variable_nozzle_priming: "primeline"
# Park in the back when waiting for the extruder to heat up
# set to "front" to park in the front, or "center" to park in the center.
variable_start_print_park_in: "front"
# Height to park it when waiting for extruder to heat.
variable_start_print_park_z_height: 50
# Skew profile to load before starting the print 
# uncomment this to use your calibrated skew correction profile.
variable_skew_profile: "my_skew_profile"
# Park in the back after the print has ended or was cancelled.
# set to "front" to park in the front, or "center" to park in the center.
variable_end_print_park_in: "back"
# Park in the back when the print is paused.
# set to "front" to park in the front, or "center" to park in the center.
variable_pause_print_park_in: "front"
# Set the speed for travel moves in RatOS Macros in mm/s.
variable_macro_travel_speed: 200
# Set the length and speed for the unload filament
variable_filament_unload_length: 100
variable_filament_unload_speed: 5
# Set the length and speed for the load filament
variable_filament_load_length: 100
variable_filament_load_speed: 10
variable_driver_type_x: "tmc2130"
variable_driver_type_y: "tmc2130"

#############################################################################################################
### PRINTER CONFIGURATION
### Customize the defaults to your specific build
#############################################################################################################
[save_variables]
filename: ~/printer_data/config/variables.cfg

[pause_resume]
recover_velocity: 50.

[stepper_z]
position_min: -5
position_max: 210

[exclude_object]

[gcode_arcs]
resolution: 0.1

[printer]
max_velocity: 240
max_accel: 4000

[probe]
z_offset: 0.0
x_offset: 24
y_offset: 5

#############################################################################################################
### USER OVERRIDES
### Anything custom you want to add, or RatOS configuration you want to override, do it here.
#############################################################################################################

#LDO-42STH40-1004A (PRU-A)
[tmc2130 extruder]
interpolate: False
sense_resistor: 0.220
run_current: 0.42
driver_TBL: 1
driver_TOFF: 4
driver_HSTRT: 0
driver_HEND: 0
stealthchop_threshold: 0

#LDO-42STH40-1004A (Eje X)
[tmc2130 stepper_x]
interpolate: False
sense_resistor: 0.220
run_current: 0.35
driver_TBL: 1
driver_TOFF: 4
driver_HSTRT: 0
driver_HEND: 0
stealthchop_threshold: 0

#LDO-42STH40-1004A (Eje Y)
[tmc2130 stepper_y]
interpolate: False
sense_resistor: 0.220
run_current: 0.42
driver_TBL: 1
driver_TOFF: 4
driver_HSTRT: 0
driver_HEND: 0
stealthchop_threshold: 0

#LDO-42STH34-1004L321 (Eje Z)
[tmc2130 stepper_z]
interpolate: False
sense_resistor: 0.220
run_current: 0.42
driver_TBL: 1
driver_TOFF: 4
driver_HSTRT: 0
driver_HEND: 3
stealthchop_threshold: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.13
#*# pid_ki = 1.1625
#*# pid_kd = 56.23
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 126.13
#*# pid_ki = 4.3
#*# pid_kd = 924.76
#*#
